// Primary Color
$white     : #ffffff;
$black     : #000000;
$blue      : #0038ff;
$orange    : #ff3d00;
$yellow    : #ffc700;

// Border Color
$border01  : #939da6;
$border02  : #202020;
$border03  : #e1e2e3;

// Background Color
$bg00      : #788590;
$bg01      : #e04b33;
$bg02      : #000000;
$bg03      : #af9b73;
$bg04      : #ff0558;
$bg05      : #ffffff;
$bg06      : #64ac7c;
$bg07      : #0075ff;

// UI Color
$gray650   : #222222;
$gray600   : #333333;
$gray550   : #555555;
$gray500   : #656565;
$gray450   : #767676;
$gray400   : #888888;
$gray350   : #999999;
$gray300   : #AAAAAA;
$gray250   : #BBBBBB;
$gray200   : #CCCCCC;
$gray150   : #DDDDDD;
$gray100   : #EEEEEE;
$gray50    : #F5F5F5;