@charset "UTF-8";
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/Pretendard/Pretendard-Regular.subset.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/Pretendard/Pretendard-Medium.subset.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/Pretendard/Pretendard-Bold.subset.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: url("/assets/fonts/Pretendard/Pretendard-Black.subset.woff2") format("woff2");
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/GmarketSans/GmarketSansLight.woff2") format("woff2");
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/GmarketSans/GmarketSansMedium.woff2") format("woff2");
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/GmarketSans/GmarketSansBold.woff2") format("woff2");
}
@font-face {
  font-family: "neurimboGothicRegular";
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/neurimboGothicRegular.woff2") format("woff2");
}
/*-------------------------------------------------------------------
	@Resets
-------------------------------------------------------------------*/
html, body {
  height: 100%;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

::before, ::after {
  box-sizing: border-box;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, div, ul, ol, dl, li, dt, dd, p, h1, h2, h3, h4, h5, h6, table, thead, tbody, tr, th, td, caption, address, article, aside,
canvas, details, figure, figcaption, main, footer, header, menu, nav, section,
button, select, textarea, input, form, fieldset, legend, label, a, span, strong, em, address, pre, code, dfn, small, i, b {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-style: normal;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -o-box-sizing: inherit;
  -webkit-print-color-adjust: exact;
}

main, article, aside, canvas, details, figure, figcaption, footer, header, menu, nav, section {
  display: block;
}

[hidden] {
  display: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

img, a, frame, iframe, fieldset {
  border: 0;
}

a {
  text-decoration: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

caption {
  height: 1px;
  overflow: hidden;
}

legend {
  position: fixed;
  overflow: hidden;
  border: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

img {
  display: block;
  width: 100%;
}

button {
  overflow: hidden;
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0px;
  padding: 0px;
}

input[type=checkbox], input[type=radio], select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

textarea {
  resize: none;
}

select::-ms-expand {
  display: none;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::search-decoration,
input::search-cancel-button,
input::search-results-button,
input::search-results-decoration {
  display: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
}

input:disabled,
textarea:disabled {
  opacity: 1;
  background: transparent;
  -webkit-text-fill-color: inherit;
}

body {
  position: relative;
  overflow-y: auto;
  font-family: "neurimboGothicRegular", "sans-serif";
  font-size: 16px;
  word-break: normal;
  word-wrap: break-word;
  box-sizing: border-box;
}
body.useragent-ios {
  padding-bottom: env(safe-area-inset-bottom);
}
body.useragent-android {
  padding-bottom: 20px;
}

.blind {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

header {
  max-width: 1020px;
  margin: 80px auto 0;
}
header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-container .header-actions {
  display: flex;
  align-items: center;
  gap: 50px;
  color: #ffffff;
}
header .header-container .header-actions .date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 212px;
  flex-shrink: 0 0 212px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 40px;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 100%;
  box-sizing: border-box;
}
header .header-container .header-actions .date-container .date-text {
  padding: 0px 16px 8px;
}
header .header-container .header-actions .menu-button {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 6px;
  padding: 0 10px;
  width: 50px;
  height: 50px;
}
header .header-container .header-actions .menu-button::before, header .header-container .header-actions .menu-button::after {
  content: "";
  width: 30px;
  height: 2px;
  background: #ffffff;
}
header .header-container .header-actions .menu-button::after {
  width: 18px;
  transition: width 360ms cubic-bezier(0.16, 0, 0.07, 1);
}
header .header-container .header-actions .menu-button:hover::after {
  width: 30px;
}

body {
  margin: 0;
  height: 200vh; /* 스크롤 확인을 위해 */
  background: #000000;
}
body .font_test {
  font-size: 42px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 100%;
}
body .text_box {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 100%;
}
/*# sourceMappingURL=style.css.map */
